---
---

@import url(https://fonts.googleapis.com/css?family=Mplus+1p);

$base-font-family: 'Mplus 1p', 'Hiragino Sans', Meiryo, sans-serif;

$content-width: 900px;

$on-palm: 600px;
$on-laptop: 900px;

@import 'minima';

.table-wrap {
  margin-bottom: $spacing-unit;
  overflow-x: auto;
}

.table-wrap table {
  margin-bottom: 0;
  white-space: nowrap;
}

.adsbygoogle {
  display: block;
  margin: 0 auto;
}

.adsbygoogle:not(:empty) {
  margin-bottom: $spacing-unit;
}
